<div>
  <div class="row">
    <div class="col-12 mt-4">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          role="switch"
          [(ngModel)]="onlyManualPrices"
          (ngModelChange)="onOnlyManualPricesChanges()"
          id="customSwitchRichtpreis"
        />
        <label class="form-check-label" for="customSwitchRichtpreis"
          >Nur Richtpreise anzeigen</label
        >
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          role="switch"
          [(ngModel)]="onlyUntilMwUpdate"
          (ngModelChange)="onOnlyUntilMwUpdateChanged()"
          id="customSwitchOnlyUntilMwUpdate"
        />
        <label class="form-check-label" for="customSwitchOnlyUntilMwUpdate"
          >Nur Spieler bis MW Update anzeigen</label
        >
      </div>
    </div>
    <div class="col-8 mb-4 mt-2">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          role="switch"
          [(ngModel)]="onlyKickbasePlayers"
          (ngModelChange)="onOnlyKickbasePlayersChanged()"
          id="customSwitchOnlyKickbasePlayer"
        />
        <label class="form-check-label" for="customSwitchOnlyKickbasePlayer"
          >Spieler von Mitspielern ausblenden</label
        >
      </div>
    </div>
    <div class="col-4 mb-4 mt-2">
      <button
        type="button"
        class="btn-header-icon refresh-icon"
        (click)="reload()"
        title="Neu laden"
      >
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @for (player of playersToShow; track player.id) {
        <app-player-item
          [player]="player"
          [printMode]="false"
          [isMarketOverview]="true"
          [achievementsDisabled]="true"
          (loadDetails)="onLoadAllDetailsForPlayer(player)"
        >
        </app-player-item>
      }
    </div>
  </div>
</div>
