<div class="row card p-3 mt-2">
  <h4>Kickbase Login</h4>
  <div class="col-12">
    <!-- <form> -->
    <div class="mb-3">
      <label class="form-label" for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        [(ngModel)]="username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleInputPassword1">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <button (click)="loginPrivate()" type="button" class="btn btn-primary w-100">
      @if (!doLogin) {
        <span>Login</span>
      }
      @if (doLogin) {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      }
    </button>

    <!-- </form> -->
  </div>
</div>

<div class="alert alert-warning shadow-sm mb-3 mt-3 d-flex align-items-center" role="alert">
  <!-- Baustellen-Icon (oder bi-exclamation-triangle) -->
  <i class="bi bi-cone-striped fs-3 me-3 text-warning-emphasis"></i>

  <div class="extra-small">
    <strong>Hinweis zur Anmeldung:</strong>
    Für die Nutzung dieses Tools musst du dich mit deiner E-Mail-Adresse und einem
    <strong>Kickbase-Passwort</strong> anmelden. <br /><br />
    <strong>Du nutzt bisher den Social Login (Google, Apple oder Facebook)?</strong><br />
    Bei der Anmeldung über Drittanbieter existiert noch kein eigenes Kickbase-Passwort. Dieses musst
    du vorab einmalig wie folgt erstellen:
    <ul class="mb-0 ps-3 mt-1">
      <li>
        In der Kickbase-App <strong>ausloggen</strong>, deine E-Mail-Adresse eingeben, auf „Weiter“
        tippen und dort auf <strong>„Passwort vergessen?“</strong> klicken
      </li>
      <li>Oder alternativ ein Passwort über den <strong>Kickbase-Support</strong> anfordern</li>
    </ul>
  </div>
</div>
