$font-family-base: 'Muli', sans-serif;
$headings-font-family: 'Oswald', sans-serif;

// $enable-grid-classes: false;

$primary: #2f3c48;
$secondary: #6f7f8c;
$success: #3e4d59;
$danger: #cc330d;
$info: #5c8f94;
$warning: #6e9fa5;
$light: #eceeec;
$dark: #1e2b37;
